.hero {
    position: relative; /* Skapa ett positionssammanhang för innehållet */
    text-align: center; /* Centrera innehållet horisontellt */
    background-color: #f5f5f5; /* Bakgrundsfärg för hero-området */
  }
  
  .hero img {
    max-width: 100%; /* Säkerställ att bilden inte blir bredare än föräldern */
    height: auto; /* Automatisk höjd baserat på bildens bredd */
  }
  
  .hero-content {
    position: absolute; /* Positionera innehållet över bilden */
    top: 50%; /* Placera innehållet i mitten vertikalt */
    left: 50%; /* Placera innehållet i mitten horisontellt */
    transform: translate(-50%, -50%); /* Centrera innehållet exakt */
    color: #fff; /* Textfärg för hero-innehållet */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Skugga för texten */
  }
  
  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1rem;
  }

  button{
    background: #FFB74D;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    transition: background-color 0.3s; 
    margin-left: 15px;
}
  