<div class="container">
  <app-header></app-header>

  <div class="meal-type-buttons">
    <button type="button" (click)="getBreakfastRecipes()">Breakfast Recipes</button>
    <button type="button" (click)="getLunchRecipes()">Lunch Recipes</button>
    <button type="button" (click)="getDinnerRecipes()">Dinner Recipes</button>
  </div>

  <div class="filter-container">
    <label>
      <input type="checkbox" [(ngModel)]="filterNuts"> Nötter
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="filterVegetarian"> Vegetarian
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="filterGluten"> Gluten
    </label>
  </div>

  <div class="input-container">
    <input type="text" class="form-control" #input placeholder="Search Recipes" [(ngModel)]="searchquery">
    <button type="button" (click)="getRecipes()">Search ALL Recipes</button>
  </div>

  <!-- Använd container-diven med layout-klassen -->
  <div class="recipe-card-container">
    <article class="recipe-card" *ngFor="let recipe of allRecipes">
      <h2 class="recipe-title"><a [routerLink]="'recipe/'+recipe.idref" routerLinkActive="active">{{recipe.label}}</a></h2>
      <img class="recipe-image" [src]="recipe.image" [alt]="recipe.label">
      <p class="recipe-ingredients">Ingredients:</p>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredientLines">
          {{ingredient}}
        </li>
      </ul>
    </article>
  </div>
</div>
